/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins

# Vim swap files
*.sw?

# English Wikipedia dump
resources/wikipedia/enwiki-latest-pages-articles.xml
resources/opennlp/models

# Graph of dependencies within the project
malea.dot
malea.svg
